.outer-container {
  /**
   * Lay out the children of this container with
   * flexbox.
   */
  display: flex;

  /**
   * Rotate the main axis so that the children
   * are laid out vertically, the same as in the
   * above "Side bar" example.
   */
  flex-direction: column;

  /**
   * Align the children in the center, along
   * the main axis. Because the direction is
   * "column" this has a similar effect as setting
   * text-align: center.
   */
  align-items: center;

  /**
   * Instead of pushing the children apart, as in
   * previous examples, we will group them together
   * in the center of their container.
   */
  justify-content: center;

  min-height: 300px;
  padding: 10px;
}

.name {
  height: 1000px;
  font-family: 'Merriweather', serif;
  font-size: 50px;
  text-align: center;
  font-style: italic;
  font-weight: 900;

  display: flex;
  align-self: center;
}



.inner-container {
  background-color: yellow;

  display: flex;
  flex-direction: row;
  justify-content: space-around;
  font-family: sans-serif;
}
