.outer-container {
  background-color: grey;

  display: flex;
  height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.name {
  font-family: 'Merriweather', serif;
  font-size: 50px;
  text-align: center;
  font-style: italic;
  font-weight: 900;

  display: flex;
  align-self: center;
}



.inner-container {
  background-color: yellow;

  display: flex;
  flex-direction: row;
  justify-content: space-around;
  font-family: sans-serif;
}
