.zuff {
  font-family: 'Merriweather', serif;
  font-size: 50px;
  text-align: center;
  font-style: italic;
  font-weight: 900;
  align-self: center;
}

.outer-container {
  height: 500px;
  background-color: blue;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-self: center;
}

.inner-container {
  background-color: yellow;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  font-family: sans-serif;
}
